@import url('https://fonts.googleapis.com/css2?family=Charm&family=IBM+Plex+Sans:wght@500&family=Open+Sans:wght@400;700&family=Roboto+Mono:wght@500&display=swap');
.filter_title{
  margin-left: 20px;
  font-size: 14px;
  color: #515e72;

  font-family: 'Charm', cursive;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
}